.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #111B21;
    color: #fff;
    padding: 0 20px;
    position: relative;
}

.navbar__logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar__toggle-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.navbar__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__menu-item {
    padding: 0 10px;
}

.navbar--open {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 10;
}

@media (max-width: 768px) {
    .navbar__menu {
        flex-direction: column;
        align-items: center;
    }
    .navbar__toggle-btn {
        display: block;
    }
    .navbar__menu-item {
        padding: 10px 0;
    }
}
