body{
  margin:0;
}

* {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow: -webkit-scrollbars-none;
  scrollbar-width: none;
}

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}